/Legendary-Overlord-2 Client/__pycache__/
/Legendary-Overlord-2 Client/.idea/
Legendary-Overlord-2 Client/.idea/Legendary-Overlord-2 Client.iml
Legendary-Overlord-2 Client/.idea/Legendary-Overlord-2 Client.iml
Legendary-Overlord-2 Client/.idea/misc.xml
Legendary-Overlord-2 Client/.idea/Legendary-Overlord-2 Client.iml
Legendary-Overlord-2 Client/__pycache__/lego_arrays.cpython-37.pyc
Legendary-Overlord-2 Client/__pycache__/lego_serial.cpython-37.pyc
Legendary-Overlord-2 Client/__pycache__/lego_command_line.cpython-37.pyc
Legendary-Overlord-2 Client/.idea/workspace.xml
Legendary-Overlord-2 Client/.idea/misc.xml
Legendary-Overlord-2 Client/.idea/Legendary-Overlord-2 Client.iml
